<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApartmentManageApp"
        tools:targetApi="31">

        <!-- Ensure LoginActivity is the launcher activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"> <!-- Make sure it's exported to be launchable -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".ui.units.UnitsActivity" android:exported="false" />
        <activity android:name=".bottom_nav_menu" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".ui.tenants.AddTenantActivity" />
        <activity android:name=".ui.properties.AddPropertyActivity" />
        <activity android:name=".ui.units.AddUnitActivity" />
    </application>

</manifest>
